.history-morning {
    float: right;
}

.history-result {
    font-size: 25px;
    color: #ffffff;
    /*margin-left: 10px;*/
    padding: 20px 0 10px 30px;
    border-radius: 0 0 8px 8px;

}

.history-no-attendance {
    margin-top: -10px;
    background-color: #d9534f;

}

.history-late {
    margin-top: -10px;
    background-color:#f0ad4e;

}
.history-attendance-in{
    margin-top: -10px;
    background-color:#3f903f;
}
.history-late-leave-early{
    margin-top: -10px;
    background-color:#e9662c;
}
.history-time {
    text-align:left;
    font-size: 18px;
    color: #ffffff;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    /*line-height: 1.1;*/
    /*background: rgb(0,115,183);*/
    border-radius: 8px 8px 0 0;
}


.history-icon {
    text-align:right;
    font-size: 18px;
    color: #ffffff;
    float: right;
}

.history-content {
    opacity: 1;
    padding-left:25%;
}

.history-result:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #ffffff transparent transparent;
    /*left: 0;*/
    top: 30px;
    margin-left: -42px;
}
.history-result.no-attendance:after{
    border-color: transparent #d9534f transparent transparent;
}
.history-result.attendance-in:after{
    border-color: transparent #3f903f transparent transparent;
}
.history-result.late:after{
    border-color: transparent #f0ad4e transparent transparent;
}
.history-result.late-leave-early:after{
    border-color: transparent #e9662c transparent transparent;
}
.history-pan{
    border: 5px solid #3c8dbc;
    border-radius: 0 0 5px 5px;\
    width: 100%;
}
.history-person-head{
    margin-top: 40px;
    background: #3c8dbc;
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif';
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.history-person-info{
    font-family: 'Open Sans', 'sans-serif';
    color:#333;
    background-color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #999;
}
.history-person-info:last-child{
    margin-bottom: 10px;
    border-bottom: 1px;
}
.history-person-info >h2{
    margin-top: 0px;
    font-size:25px;
    font-family: 'Open Sans', sans-serif;
    color:#636363;
    background-color: #fff;
    text-align: center;
    line-height: 1.4;
}
.history-in{
    border: 1px solid transparent;
    border-top: 4px solid transparent;
    padding-top: 0px;
    text-align: center;
}
.history-in >h2{
    font-size: 35px;
    color:#636363;
    margin-top: 5px;
    margin-bottom: 0;
}
.history-in >h2 >span:last-child{
    font-size: 12px;
    color:#636363;
}
.history-in >span{
    font-size: 12px;
    color:#636363;
    margin-bottom: 10px;
    margin-top: 5px;
}
.history-in:hover{
    border: 1px solid #E0EEEE;
    border-top: 4px solid #E0EEEE;
    padding-top: 0px;
    text-align: center;
    background-color: #E0EEEE;

}
.history-person-icon{
    margin-right: 8px;
}
.history-person-info >h3{
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    color:#636363;
    background-color: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.4;

}
.history-person-info >h3 >span:first-child{
    margin-right: 25px;

}
.history-no-result{

}
@media only screen and (max-width: 768px) {
    [class^='col-lg-'],
    [class^='col-md-'],
    [class^='col-sm-'],
    [class^='col-xs-'] {
        margin-bottom: 10px;
    }
    .history-person-info >h3 >span:first-child{
        margin-right: 1px;
    }
    .history-person-icon{
        margin-right: 1px;
    }
    /* LOGIN */
}
@media screen and (max-width:360px) {
    .history-result {
        font-size: 22px;
        color: #ffffff;
        /*margin-left: 10px;*/
        padding-left: 20px;
    }
    .history-person-info >h3 >span:first-child{
        margin-right: 1px;
    }
    .history-person-icon{
        margin-right: 1px;
    }
}

.x-navigation-minimized .xn-logo {
    display: none;
}
