/*= common css to all effects =*/
.single-member {
    width: 100%;
    float: left;
    background-color: #fff;
    position: relative;
}
/*= common css to all effects end =*/

.member-image img {
    max-width: 100%;
    vertical-align: middle;
}
/*= effect-7 css =*/

.effect {
    min-height: 289px;
    overflow: hidden;
}

.effect h3 {
    line-height: 35px;
}

.effect .member-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.4s;
    z-index: 1;
}

.effect .member-image img {
    width: 100%;
    transition: 0.4s;
    opacity: 1;
    height: 100%;
}

.effect .more-info {
    height: 208px;
    transition: 0.4s;
    overflow: hidden;
    position: relative;
}

.effect:hover .member-image {
    bottom: 40%;
}

.effect:hover .member-image img {
    width: 0;
    height: 0;
    transition: 0.4s;
    opacity: 0;
}
/*= effect-7 css end =*/
/*= common css to all effects end =*/
/*= effect-2 css =*/

.effect-2 {
    max-height: 302px;
    min-height: 302px;
    overflow: hidden;
}

.effect-2 h3 {
    padding-top: 7px;
    line-height: 33px;
}

.effect-2 .member-image {
    border-bottom: 5px solid #1fb554;
    height: 212px;
    overflow: hidden;
    width: 100%;
    transition: 0.4s;
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.effect-2 .member-info {
    transition: 0.4s;
}

.effect-2 .member-image img {
    width: 100%;
    vertical-align: bottom;
}

.effect-2 .social-touch {
    background-color: #1fb554;
    float: left;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
    transition: 0.4s;
}

.effect-2:hover .member-image {
    height: 81px;
    transition: 0.4s;
}
/*= effect-2 css end =*/
/*= effect-3 css =*/

.effect-3 {
    min-height: 28em;
    max-height: 30em;
    overflow: hidden;
}

.effect-3 h3 {
    padding-top: 0;
    line-height: 33px;
}

.effect-3 .member-image {
    /*border-bottom: 5px solid #e5642b;*/
    /*图片分割线*/
    transition: 0.4s;
    height: 21.5em;
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: middle;
    overflow: hidden;
}

.effect-3 .member-info {
    transition: 0.4s;
}

.effect-3 .member-image img {
    width: 100%;
    vertical-align: top;
}

.effect-3 .social-touch {
    background-color: #e5642b;
    float: left;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 1px 0;
    width: 100%;
    transition: 0.4s;
}

.effect-3:hover .member-image {
    border-bottom: 0;
    border-radius: 0 0 50px 50px;
    height: 6em;
    display: inline-block;
    overflow: hidden;
    width: 36%;
    transition: 0.4s;
    margin-left: 32%;
}
/*= effect-3 css end =*/
/*= Media Query
=============== */
/*= Media Query End
=================== */

.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 5px solid #e5e5e5;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.panel > .panel-heading {
    font-size: 18px;
    padding: 7px 15px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-color: #e5e5e5 !important;
}

.panel > .el-footer {
    font-size: 18px;
    padding: 7px 15px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.panel.panel-primary {
    border-color: #dc6767;
}

.panel.panel-primary > .panel-heading {
    color: #FFFFFF;
    background: #dc6767;
    border-color: #dc6767 !important;
}

.panel.panel-primary > .panel-footer {
    color: #FFFFFF;
    background: #dc6767;
    border-color: #dc6767 !important;
}

.panel.panel-red {
    border-color: #bf4346;
}

.panel.panel-red > .panel-heading {
    color: #FFFFFF;
    background: #bf4346;
    border-color: #bf4346 !important;
}

.panel.panel-red > .panel-footer {
    color: #FFFFFF;
    background: #bf4346;
    border-color: #bf4346 !important;
}

.panel.panel-orange {
    border-color: #e9662c;
}

.panel.panel-orange > .panel-heading {
    color: #FFFFFF;
    background: #e9662c;
    border-color: #e9662c !important;
}

.panel.panel-orange > .panel-footer {
    color: #FFFFFF;
    background: #e9662c;
    border-color: #e9662c !important;
}

.panel.panel-green {
    border-color: #488c6c;
}

.panel.panel-green > .panel-heading {
    color: #FFFFFF;
    background: #488c6c;
    border-color: #488c6c !important;
}

.panel.panel-green > .panel-footer {
    color: #FFFFFF;
    background: #488c6c;
    border-color: #488c6c !important;
}

.panel.panel-yellow {
    border-color: #f2994b;
}

.panel.panel-yellow > .panel-heading {
    color: #FFFFFF;
    background: #f2994b;
    border-color: #f2994b !important;
}

.panel.panel-yellow > .panel-footer {
    color: #FFFFFF;
    background: #f2994b;
    border-color: #f2994b !important;
}

.panel.panel-blue {
    background: #f2f5f6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f2f5f6 0%, #c8d7dc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(100%,#c8d7dc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f5f6 0%,#c8d7dc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f5f6 0%,#c8d7dc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f5f6 0%,#c8d7dc 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f2f5f6 0%,#c8d7dc 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
    /* IE6-9 */
    border-color: #d8d8d8;
}

.panel.panel-blue > .panel-heading {
    color: #FFFFFF;
    background: #0a819c;
    border-color: #0a819c !important;
}

.panel.panel-blue > .panel-footer {
    color: #FFFFFF;
    background: #0a819c;
    border-color: #0a819c !important;
}

.panel.panel-pink {
    border-color: #bf3773;
}

.panel.panel-pink > .panel-heading {
    color: #FFFFFF;
    background: #bf3773;
    border-color: #bf3773 !important;
}

.panel.panel-pink > .panel-footer {
    color: #FFFFFF;
    background: #bf3773;
    border-color: #bf3773 !important;
}

.panel.panel-violet {
    border-color: #9351ad;
}

.panel.panel-violet > .panel-heading {
    color: #FFFFFF;
    background: #9351ad;
    border-color: #9351ad !important;
}

.panel.panel-violet > .panel-footer {
    color: #FFFFFF;
    background: #9351ad;
    border-color: #9351ad !important;
}

.panel.panel-grey {
    border-color: #4b5d67;
}

.panel.panel-grey > .panel-heading {
    color: #FFFFFF;
    background: #4b5d67;
    border-color: #4b5d67 !important;
}

.panel.panel-grey > .panel-footer {
    color: #FFFFFF;
    background: #4b5d67;
    border-color: #4b5d67 !important;
}

.panel.panel-dark {
    border-color: #594857;
}

.panel.panel-dark > .panel-heading {
    color: #FFFFFF;
    background: #594857;
    border-color: #594857 !important;
}

.panel.panel-dark > .panel-footer {
    color: #FFFFFF;
    background: #594857;
    border-color: #594857 !important;
}

.panel.panel-white {
    border-color: #efefef;
}

.panel.panel-white > .panel-heading {
    border-bottom: 1px solid #faf9fb;
    color: #999999;
    background: #FFFFFF;
}

.panel.panel-white > .panel-footer {
    border-top: 1px solid #faf9fb;
    color: #999999;
    background: #FFFFFF;
}

.input-icon {
    position: relative;
}

.input-icon input {
    padding-left: 33px !important;
    color: #999999;
}

.input-icon i {
    /*color: #999999;*/
    display: block;
    position: absolute;
    margin: 33px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

.input-icon.right input {
    padding-left: 12px !important;
    padding-right: 33px !important;
}

.input-icon.right i {
    right: 15px;
    float: right;
}

.input-icon.left input {
    padding-left: 12px !important;
    padding-right: 33px !important;
    width: 20%;
}

.input-icon.left i {
    margin-left: 25px;
    left: 15px;
    float: left;
}

.info-self h4 {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    margin-left: 10%;
}

.info-color {
    background-color: rgb(28,175,154);
}

.info-head {
    margin: 5px;
    font-size: 33px;
    font-family: 微软雅黑;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.info-tip {
    margin: 10px;
    font-size: 20px;
    font-style: normal;
    font-family: 微软雅黑;
    color: #ffffff;
    text-align: center;
}

.info-header {
    background-color: rgb(28,175,154);
    height: 110px;
    width: 900px;
    /*vertical-align: top;*/
    margin-top: 0;
    padding-top: 0;
}

. .check-in-today {
    margin-top: 40px;
    margin-left: 80px;
}

.apply-form {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.check {
    color: #3f903f;
    font-size: 50px;
    float: right;
    margin-right: 6%;
}

.window-close {
    color: #d9534f;
    font-size: 50px;
    float: right;
    margin-right: 6%;
}
@media screen and (max-width: 768px) {
    .apply-form {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

}
@media screen and (min-width:1024px ) {
    .row {
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 4%;
    }

    .col-md-3 {
        margin-left: 5%;
    }

    .row .mbl {
        margin-left: 0;
        margin-right: 0;
    }

    .single-member {
        margin-top: 20px;
    }
}
